.banner-img {
  background-image: url('../../images/Banner.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
}

.banner-img{
  display: flex;
  align-items: center;
}


