/* book container style sheet */
.book-container{
    padding: 10px;
    margin-top: 15px;
    border-radius: 10px;
}
.book-img{
    width: 400px;
    height: 250px;
    border-radius: 10px;
}

.booking-main{
    height: 378px;
}