.about-section{
    margin: 66px 218;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-section img{
    width: 75%;
}

@media only screen and (max-width: 600px) {
    .about-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-box{
        width: 100%;
    }
}